@use "src/styles/styleguide/variables";

input {
  border: 1px solid variables.$primary-foreground;
  border-left: 5px solid variables.$primary-foreground;
  background: transparent;
  padding: 5px;
}

.alert div {
  color: red;
}

.ng-touched .ng-invalid:not(form) {
  border-left: 5px solid red; /* red */
}

.ng-valid:not(form) {
  border-left: 5px solid green; /* red */
}
