<ng-container *ngIf="allMovies">
  <div class="grid col-3">
    <div (mouseover)="hoverMovie(movie)"
         *ngFor="let movie of allMovies"
         [class.hovered]=movie.isActive
         class="animated flex wrap justify-center direction-column align-center">
      <h2>{{movie.title}}</h2>
      <img [src]="movie.imageUrl" alt="image of the movie">
      <button (click)="selectMovie(movie)" [class.secondary]="selectedMovie">details</button>
    </div>
  </div>
  <div>
  </div>
</ng-container>

<!-- there must be a better way for this, right? -->
<app-movie-detail (activateEditMode)="editActive = true" *ngIf="selectedMovie && !editActive"
                  [movie]="selectedMovie"></app-movie-detail>
<app-movie-edit (movieChanged)="selectMovie(null)" *ngIf="selectedMovie && editActive"
                [movieToChange]="selectedMovie"></app-movie-edit>
