@use "../variables";

button {
  padding: variables.$padding-1;
  min-width: variables.$min-width-1;
  border: none;
  border-radius: variables.$border-radius;
  margin-top: variables.$margin-2;

  &.secondary {
    background-color: transparent;
    border: 1px solid variables.$primary-foreground;

    &[disabled] {
      border: 1px solid variables.$secondary-background;
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}
