@use "variables";

.grid {
  display: grid;
  grid-gap: variables.$grid-gap;
  justify-content: center;

  &.col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  &.col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
